<!DOCTYPE html>
<html>
	<head>
		<meta charset=utf-8 />
		<title>Product Price Comparison</title>
	    <link rel="stylesheet" href="/media/css/style.css" type="text/css" media="screen" />
	</head>
	<body>
	    <div class="wrapper">
	        <h1><a href="/">Price Compare!</a></h1>
	        {% block update %}
	        <a href="/update/?redirect_to={{ request.build_absolute_uri }}">Update All Prices</a>
	        {% endblock %}
            {% block content %}{% endblock %}
        </div>
	</body>
</html>