{% extends "base.html" %}

{% block update %}
<a href="/update/?redirect_to={{ request.build_absolute_uri }}&group_id={{ products.0.product_group.pk }}">Update Prices for {{ products.0.product_group.name }}</a>
{% endblock %}

{% block content %}
<h2>{{ products.0.product_group.name }}</h2>
<table cellpadding="0" cellspacing="0">
    <thead>
        <th><a href="/groups/{{ products.0.product_group.pk }}/?sort=source:{% if order.source %}{{ order.source }}{% else %}ASC{% endif %}">Source</a></th>
        <th><a href="/groups/{{ products.0.product_group.pk }}/?sort=price:{% if order.price %}{{ order.price }}{% else %}ASC{% endif %}">Price</a></th>
    </thead>
    {% for p in products %}
    <tr class="{% cycle "norm" "alt" %}{% if not p.got_price %} red{% else %}{% if p.pk == cheapest %} green{% endif %}{% endif %}">
        <td class="source"><a href="{{ p.url }}">{{ p.source.name }}</a></td>
        <td class="price">{% if p.got_price %}${{ p.price|floatformat:2 }}{% else %}Price could not be found{% endif %}</td>
    </tr>
    {% endfor %}
</table>
<a href="/groups/{{ products.0.product_group.pk }}/csv/">Output as CSV</a>
{% endblock %}